ALLOWED_ORIGINS=http://localhost:3000
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:postgres@127.0.0.1:5432/project?sslmode=disable # be sure to remove sslmode=disable for a remote db
GOOSE_MIGRATION_DIR=./migrations
